
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Space+Grotesk:wght@300..700&display=swap');
*{
    font-family: "Oxygen", sans-serif;
    margin-top: 0px;
    padding: 0px;
}
.content{
    padding-left: 32%;
    padding-top: 15%;
}
body{
    background-color: #0B1D26;
}
.bg{
    background-color: #0B1D26;
}

.hero-img{
    background-image: url(./imges/rre.png);
    height: 100vh;
    background-size: cover;
   
  background-position: center; 

  
  
  
  margin: 0;
}



  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }


  
